/* ********************************************************************
*   Author : Cheserae Bidgood(Beukes)
*   Date : 06/06/2018   
*
**********************************************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.719);
    /* width: auto; */
    /* margin-left: 103px; */
    border: 1px solid black;
}
#main{
    background-color: rgb(247, 29, 29);
    padding: 10px;
    height: 100%;
    margin-right: 15%; 
    border: 5px solid black;
    margin-left: 8%;
    /* border: 2px solid black; */
    /* border: 2px solid black; */
    /* height: 50%; */
    /* width: 879px; */
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top:20px; 
    margin-left: 104px;
    margin-top: 430px; */
}
/* Navigation */
#navigation_panel{
    background-color: rgb(201, 201, 201);
    padding: 10px;
    border: 2px solid black;
    height: 100%;
    /* width: 15; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top:20px; 
}
#navigation_panel label{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#navigation_panel img{
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
/* Cover sheet */
#cover_sheet{
    width: auto;

    height: 400px ;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    margin-left: 5%;
}
/* Profile Picture */
#profile_picture{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    /* background-color: blue; */
    border: 2px solid black;
    margin-left: 60px; 
    margin-top: 200px;
}
#user_navigation{
    display: block;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.226);
    border: 2px solid black;
    margin-left: 5%
    /* text-align: right; */
}
#user_navigation span{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
#contact_list{
    background-color: rgba(175, 170, 170, 0.795);
    /* padding: 10px; */
    border: 2px solid black;
    /* height: 50%; */
    margin-left: 85%;
    border-right-width: 100%;
    height: 100%;
    /* max-width: 40%; */
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    /* overflow-x: hidden;  */
    float: right;
    overflow: auto;
    /* float: initial; */
    /* padding-top:20px;  */
    /* margin-left: 1005px;
    margin-top: 430px; */
}


